body{

}

.stilllife{
    position: relative;
    width: 600px;
    height: 600px;
    background: #9ccc65;
    z-index: 4;
}

.midline {
    width: 20px;
    height: 322px;
    background: darkgray;
    position: absolute;
    top: 178px;
    left: 275px;
    z-index: 6;
}

.leftline {
    width: 20px;
    height: 322px;
    background: gray;
    position: absolute;
    top: 178px;
    left: 260px;
    border-radius: 0 0 0 5px;
    z-index: 5;
}

.rightline {
    width: 20px;
    height: 322px;
    background: lightgray;
    position: absolute;
    top: 178px;
    left: 290px;
    border-radius: 0 0 5px 0;
    z-index: 5;
}
        
    .midlinecap {
        width: 20px;
        height: 75px;
        background: darkgray;
        position: absolute;
        top: 100px;
        left: 275px;
        z-index: 6;
    }

    .leftlinecap {
        width: 20px;
        height: 75px;
        background: #808080;
        position: absolute;
        top: 100px;
        left: 260px;
        border-radius: 5px 0 0 0;
        z-index: 5;
    }

    .rightlinecap {
        width: 20px;
        height: 75px;
        background: lightgray;
        position: absolute;
        top: 100px;
        left: 290px;
        border-radius: 0 5px 0 0;
        z-index: 5;
    }


        .leftlinetop{
            width: 20px;
            height: 20px;
            background: #b71c1c;
            position: absolute;
            top: 100px;
            left: 260px;
            border-radius: 5px 0;
            z-index: 5;
        }

        .midlinetop{
            width: 20px;
            height: 20px;
            background: #e53935;
            position: absolute;
            top: 100px;
            left: 275px;
            z-index: 6;
        }

        .rightlinetop{
            width: 20px;
            height: 20px;
            background: #e57373;
            position: absolute;
            top: 100px;
            left: 290px;
            border-radius: 0 5px 0 0;
            z-index: 5;
        }

                .capshadow{
                    width: 50px;
                    height: 82px;
                    background: #679f37;
                    position: absolute;
                    top: 105px;
                    left: 250px;
                    border-radius: 5px;
                    z-index: 4;
                }

                .leftlinebottom {
                    width: 20px;
                    height: 20px;
                    background: #b71c1c;
                    position: absolute;
                    top: 480px;
                    left: 260px;
                    border-radius: 0 0 0 5px;
                    z-index: 5;
                }

                .midlinebottom {
                    width: 20px;
                    height: 20px;
                    background: #e53935;
                    position: absolute;
                    top: 480px;
                    left: 275px;
                    z-index: 6;
                }

                .rightlinebottom {
                    width: 20px;
                    height: 20px;
                    background: #e57373;
                    position: absolute;
                    top: 480px;
                    left: 290px;
                    border-radius: 5px 0;
                    z-index: 5;
                }

        .caplinetop1 {
            width: 15px;
            height: 3px;
            background: #424242;
            position: absolute;
            top: 175px;
            left: 260px;
            z-index: 6;
        }

        .caplinetop2 {
            width: 20px;
            height: 3px;
            background: #616161;
            position: absolute;
            top: 175px;
            left: 275px;
            z-index: 6;
        }

        .caplinetop3 {
            width: 15px;
            height: 3px;
            background: #9e9e9e;
            position: absolute;
            top: 175px;
            left: 295px;
            z-index: 6;
        }

                .caplinebottom1 {
                    width: 15px;
                    height: 3px;
                    background: #424242;
                    position: absolute;
                    top: 425px;
                    left: 260px;
                    z-index: 5;
                }

                .caplinebottom2 {
                    width: 20px;
                    height: 3px;
                    background: #616161;
                    position: absolute;
                    top: 425px;
                    left: 275px;
                    z-index: 6;
                }

                .caplinebottom3 {
                    width: 15px;
                    height: 3px;
                    background: #9e9e9e;
                    position: absolute;
                    top: 425px;
                    left: 295px;
                    z-index: 5;
                }

    .shadow {
        width: 50px;
        height: 325px;
        background: #689f38;
        position: absolute;
        top: 180px;
        left: 250px;
        border-radius: 5px;
        z-index: 1;
        }



.nibbase {
    width: 50px;
    height: 30px;
    background: #a9a9a9;
    position: absolute;
    top: 145px;
    left: 260px;
    z-index: 2;
}

.nibcutoutleft {
    width: 25px;
    height: 30px;
    background: #9ccc65;
    border-radius: 50%;
    position: absolute;
    top: 135px;
    left: 251px;
    z-index: 3;
}

.nibcutoutright {
    width: 25px;
    height: 30px;
    background: #9ccc65;
    border-radius: 50%;
    position: absolute;
    top: 135px;
    left: 294px;
    z-index: 3;
}

.nibinkshaft {
    width: 16px;
    height: 20px;
    background: #e53935;
    position: absolute;
    top: 135px;
    left: 277px;
    z-index: 1;
}

.nibinktop {
    width: 7px;
    height: 15px;
    border-bottom: 16px solid #e53834;
    border-right: 9px solid transparent;
    border-radius: 20px 0 0;
    position: absolute;
    top: 105px;
    left: 277px;
    z-index: 1;
}

/* #capholder:hover {
    visibility: hidden;
}

 Still Not Working
*/


#capholder {
   position: relative;
   transition: all 0.8s;
}
#capholder:hover {
    top: -70px;
}


